In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mahasiswa.csv')
df

    No         NIM               Nama  Jumlah SKS  Nilai TBQ
0    1  1300018177        Ani Yuanita         109         70
1    2  1300018188    Burhan Fajar P.          89         75
2    3  1300018200     Heri Budiyanto         120         65
3    4  1300018201    Dimas Satrio W.         111         60
4    5  1300019200        Nur Hidayat         100         50
5    6  1300019181      Vilda Lestari          90         55
6    7  1300018198       Edi Suryanto          98         60
7    8  1300019001   Erna Dwi Puspita          70         75
8    9  1300022099         Nurfita FF          63         80
9   10  1300015006       Fahmi dwi N.          84         60
10  11  1300023046    Hamzah Pramudya         102         68
11  12  1300023143           Nurcahyo         110         70
12  13  1300023200        Aminatun R.         110         75
13  14  1300022080       Tri Haryanto         124         68
14  15     9018263  Irma Kautsaril Q.         120         65
15  16    12022030        Risna Dania         115         68
16  17    12020021      Ageng Priyono         116         80
17  18     9018269       Reny Surya P          98         70
18  19     9018109   Layly Aslinda S.         110         75
19  20     9020026     David Setiarso         114         55
20  21    12018060           Agne Cia         120         68
21  22    11018022       Hari Anggoro         118         50
22  23     9018212        Anas Bayu P         105         55
23  24     9018301    Danar Apriyanto         109         68
24  25    12022020   Agus Dwi Saputra         108         70
25  26    12022038      Wahyu Hidayat          79         75
26  27    12019039     Slamet Riyanto          67         55
27  28    11018111    Ahmad Alfian Y.         130         58
28  29     9018135   Andini Setyowati         107         80
29  30    12018161      Aris Maryanto         108         85

In [4]:
df.columns = ['No', 'NIM', 'Nama', 'JumlahSKS', 'NilaiTBQ']
df

    No         NIM               Nama  JumlahSKS  NilaiTBQ
0    1  1300018177        Ani Yuanita        109        70
1    2  1300018188    Burhan Fajar P.         89        75
2    3  1300018200     Heri Budiyanto        120        65
3    4  1300018201    Dimas Satrio W.        111        60
4    5  1300019200        Nur Hidayat        100        50
5    6  1300019181      Vilda Lestari         90        55
6    7  1300018198       Edi Suryanto         98        60
7    8  1300019001   Erna Dwi Puspita         70        75
8    9  1300022099         Nurfita FF         63        80
9   10  1300015006       Fahmi dwi N.         84        60
10  11  1300023046    Hamzah Pramudya        102        68
11  12  1300023143           Nurcahyo        110        70
12  13  1300023200        Aminatun R.        110        75
13  14  1300022080       Tri Haryanto        124        68
14  15     9018263  Irma Kautsaril Q.        120        65
15  16    12022030        Risna Dania        115        68
16  17    12020021      Ageng Priyono        116        80
17  18     9018269       Reny Surya P         98        70
18  19     9018109   Layly Aslinda S.        110        75
19  20     9020026     David Setiarso        114        55
20  21    12018060           Agne Cia        120        68
21  22    11018022       Hari Anggoro        118        50
22  23     9018212        Anas Bayu P        105        55
23  24     9018301    Danar Apriyanto        109        68
24  25    12022020   Agus Dwi Saputra        108        70
25  26    12022038      Wahyu Hidayat         79        75
26  27    12019039     Slamet Riyanto         67        55
27  28    11018111    Ahmad Alfian Y.        130        58
28  29     9018135   Andini Setyowati        107        80
29  30    12018161      Aris Maryanto        108        85

In [5]:
for index, row in df.iterrows():
    if row['JumlahSKS'] >= 110:
        df.loc[index, 'StatusKKN'] = 'Mengikuti'
    else:
        df.loc[index, 'StatusKKN'] = 'Tidak Boleh Mengikuti'
df

,No,NIM,Nama,JumlahSKS,NilaiTBQ,StatusKKN
0,1,1300018177,Ani Yuanita,109,70,Tidak Boleh Mengikuti
1,2,1300018188,Burhan Fajar P.,89,75,Tidak Boleh Mengikuti
2,3,1300018200,Heri Budiyanto,120,65,Mengikuti
3,4,1300018201,Dimas Satrio W.,111,60,Mengikuti
4,5,1300019200,Nur Hidayat,100,50,Tidak Boleh Mengikuti
5,6,1300019181,Vilda Lestari,90,55,Tidak Boleh Mengikuti
6,7,1300018198,Edi Suryanto,98,60,Tidak Boleh Mengikuti
7,8,1300019001,Erna Dwi Puspita,70,75,Tidak Boleh Mengikuti
8,9,1300022099,Nurfita FF,63,80,Tidak Boleh Mengikuti
9,10,1300015006,Fahmi dwi N.,84,60,Tidak Boleh Mengikuti
10,11,1300023046,Hamzah Pramudya,102,68,Tidak Boleh Mengikuti
11,12,1300023143,Nurcahyo,110,70,Mengikuti
12,13,1300023200,Aminatun R.,110,75,Mengikuti
13,14,1300022080,Tri Haryanto,124,68,Mengikuti
14,15,9018263,Irma Kautsaril Q.,120,65,Mengikuti
15,16,12022030,Risna Dania,115,68,Mengikuti
16,17,12020021,Ageng Priyono,116,80,Mengikuti
17,18,9018269,Reny Surya P,98,70,Tidak Boleh Mengikuti
18,19,9018109,Layly Aslinda S.,110,75,Mengikuti
19,20,9020026,David Setiarso,114,55,Mengikuti
20,21,12018060,Agne Cia,120,68,Mengikuti
21,22,11018022,Hari Anggoro,118,50,Mengikuti
22,23,9018212,Anas Bayu P,105,55,Tidak Boleh Mengikuti
23,24,9018301,Danar Apriyanto,109,68,Tidak Boleh Mengikuti
24,25,12022020,Agus Dwi Saputra,108,70,Tidak Boleh Mengikuti
25,26,12022038,Wahyu Hidayat,79,75,Tidak Boleh Mengikuti
26,27,12019039,Slamet Riyanto,67,55,Tidak Boleh Mengikuti
27,28,11018111,Ahmad Alfian Y.,130,58,Mengikuti
28,29,9018135,Andini Setyowati,107,80,Tidak Boleh Mengikuti
29,30,12018161,Aris Maryanto,108,85,Tidak Boleh Mengikuti

In [6]:
for index, row in df.iterrows():
    if row['NilaiTBQ'] >= 70:
        df.loc[index, 'StatusTBQ'] = 'Lulus'
    else:
        df.loc[index, 'StatusTBQ'] = 'Tidak Lulus'
df

,No,NIM,Nama,JumlahSKS,NilaiTBQ,StatusKKN,StatusTBQ
0,1,1300018177,Ani Yuanita,109,70,Tidak Boleh Mengikuti,Lulus
1,2,1300018188,Burhan Fajar P.,89,75,Tidak Boleh Mengikuti,Lulus
2,3,1300018200,Heri Budiyanto,120,65,Mengikuti,Tidak Lulus
3,4,1300018201,Dimas Satrio W.,111,60,Mengikuti,Tidak Lulus
4,5,1300019200,Nur Hidayat,100,50,Tidak Boleh Mengikuti,Tidak Lulus
5,6,1300019181,Vilda Lestari,90,55,Tidak Boleh Mengikuti,Tidak Lulus
6,7,1300018198,Edi Suryanto,98,60,Tidak Boleh Mengikuti,Tidak Lulus
7,8,1300019001,Erna Dwi Puspita,70,75,Tidak Boleh Mengikuti,Lulus
8,9,1300022099,Nurfita FF,63,80,Tidak Boleh Mengikuti,Lulus
9,10,1300015006,Fahmi dwi N.,84,60,Tidak Boleh Mengikuti,Tidak Lulus
10,11,1300023046,Hamzah Pramudya,102,68,Tidak Boleh Mengikuti,Tidak Lulus
11,12,1300023143,Nurcahyo,110,70,Mengikuti,Lulus
12,13,1300023200,Aminatun R.,110,75,Mengikuti,Lulus
13,14,1300022080,Tri Haryanto,124,68,Mengikuti,Tidak Lulus
14,15,9018263,Irma Kautsaril Q.,120,65,Mengikuti,Tidak Lulus
15,16,12022030,Risna Dania,115,68,Mengikuti,Tidak Lulus
16,17,12020021,Ageng Priyono,116,80,Mengikuti,Lulus
17,18,9018269,Reny Surya P,98,70,Tidak Boleh Mengikuti,Lulus
18,19,9018109,Layly Aslinda S.,110,75,Mengikuti,Lulus
19,20,9020026,David Setiarso,114,55,Mengikuti,Tidak Lulus
20,21,12018060,Agne Cia,120,68,Mengikuti,Tidak Lulus
21,22,11018022,Hari Anggoro,118,50,Mengikuti,Tidak Lulus
22,23,9018212,Anas Bayu P,105,55,Tidak Boleh Mengikuti,Tidak Lulus
23,24,9018301,Danar Apriyanto,109,68,Tidak Boleh Mengikuti,Tidak Lulus
24,25,12022020,Agus Dwi Saputra,108,70,Tidak Boleh Mengikuti,Lulus
25,26,12022038,Wahyu Hidayat,79,75,Tidak Boleh Mengikuti,Lulus
26,27,12019039,Slamet Riyanto,67,55,Tidak Boleh Mengikuti,Tidak Lulus
27,28,11018111,Ahmad Alfian Y.,130,58,Mengikuti,Tidak Lulus
28,29,9018135,Andini Setyowati,107,80,Tidak Boleh Mengikuti,Lulus
29,30,12018161,Aris Maryanto,108,85,Tidak Boleh Mengikuti,Lulus

In [7]:
dummies = pd.get_dummies(df.StatusKKN)
dummies

    Mengikuti  Tidak Boleh Mengikuti
0           0                      1
1           0                      1
2           1                      0
3           1                      0
4           0                      1
5           0                      1
6           0                      1
7           0                      1
8           0                      1
9           0                      1
10          0                      1
11          1                      0
12          1                      0
13          1                      0
14          1                      0
15          1                      0
16          1                      0
17          0                      1
18          1                      0
19          1                      0
20          1                      0
21          1                      0
22          0                      1
23          0                      1
24          0                      1
25          0                      1
26          0                      1
27          1                      0
28          0                      1
29          0                      1

In [8]:
dummies = pd.get_dummies(df.StatusTBQ)
dummies

    Lulus  Tidak Lulus
0       1            0
1       1            0
2       0            1
3       0            1
4       0            1
5       0            1
6       0            1
7       1            0
8       1            0
9       0            1
10      0            1
11      1            0
12      1            0
13      0            1
14      0            1
15      0            1
16      1            0
17      1            0
18      1            0
19      0            1
20      0            1
21      0            1
22      0            1
23      0            1
24      1            0
25      1            0
26      0            1
27      0            1
28      1            0
29      1            0