In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('covid.csv')
df

,Type,Features Type,ID-number,Province_code,Province_name,Confirmed_cases,Recovered_cases,Death_cases,Features Geometry Type,Features Geometry Coordinates
0,FeatureCollection,Feature,1,11,Aceh,7797,6258,282,Point,"96.90952274800009,4.225081892000048"
1,FeatureCollection,Feature,2,12,Sumatera Utara,13277,10846,542,Point,"99.05788784900005,2.184779215000049"
2,FeatureCollection,Feature,3,13,Sumatera Barat,16709,13386,311,Point,"100.46680503000005,-0.85191434799998"
3,FeatureCollection,Feature,4,14,Riau,14841,11490,340,Point,"101.81289195400007,0.510525849000032"
4,FeatureCollection,Feature,5,15,Jambi,1399,892,27,Point,"103.59932,-1.61775"
5,FeatureCollection,Feature,6,16,Sumatera Selatan,8534,6954,461,Point,"104.17041944500005,-3.213346821999949"
6,FeatureCollection,Feature,7,17,Bengkulu,1294,992,59,Point,"102.26312,-3.79116"
7,FeatureCollection,Feature,8,19,Kepulauan Bangka Belitung,777,589,10,Point,"105.98694808200008,-2.252956410999957"
8,FeatureCollection,Feature,9,18,Lampung,1884,1120,78,Point,"105.01831305100006,-4.918073086999925"
9,FeatureCollection,Feature,10,21,Kepulauan Riau,4640,3074,116,Point,"108.20222888900008,3.915947241000026"
10,FeatureCollection,Feature,11,31,DKI Jakarta,115174,106100,2412,Point,"106.82649,-6.17148"
11,FeatureCollection,Feature,12,32,Jawa Barat,42572,32049,795,Point,"107.60280789800004,-6.919980215999942"
12,FeatureCollection,Feature,13,33,Jawa Tengah,39788,31937,1918,Point,"110.20111252900006,-7.258970382999962"
13,FeatureCollection,Feature,14,34,Daerah Istimewa Yogyakarta,4399,3568,108,Point,"110.44536697100006,-7.89501381499997"
14,FeatureCollection,Feature,15,35,Jawa Timur,55575,49542,3970,Point,"112.73367880100011,-7.720113018999939"
15,FeatureCollection,Feature,16,36,Banten,10554,8141,298,Point,"106.10919706900006,-6.456181598999933"
16,FeatureCollection,Feature,17,51,Bali,12519,11461,403,Point,"115.13165099500009,-8.36974326099994"
17,FeatureCollection,Feature,18,52,Nusa Tenggara Barat,4314,3540,229,Point,"117.50686245200006,-8.606652083999961"
18,FeatureCollection,Feature,19,53,Nusa Tenggara Timur,694,500,7,Point,"121.14182917000005,-8.604843331999973"
19,FeatureCollection,Feature,20,61,Kalimantan Barat,2035,1470,22,Point,"111.12076240100004,-0.085901233999948"
20,FeatureCollection,Feature,21,62,Kalimantan Tengah,4801,4085,165,Point,"113.181047852,-1.634340044999931"
21,FeatureCollection,Feature,22,63,Kalimantan Selatan,12365,11205,499,Point,"115.3113078340001,-2.44977913699995"
22,FeatureCollection,Feature,23,64,Kalimantan Timur,16384,13593,518,Point,"116.47085839300007,0.461046227000054"
23,FeatureCollection,Feature,24,65,Kalimantan Utara,928,802,11,Point,"116.21671830900004,2.888820961000022"
24,FeatureCollection,Feature,25,71,Sulawesi Utara,5452,4585,205,Point,"124.53537885000003,1.286097687000051"
25,FeatureCollection,Feature,26,72,Sulawesi Tengah,878,672,36,Point,"120.44959250000011,-1.459214953999947"
26,FeatureCollection,Feature,27,73,Sulawesi Selatan,18372,16617,468,Point,"120.16115770400006,-3.747115711999925"
27,FeatureCollection,Feature,28,74,Sulawesi Tenggara,5073,4034,83,Point,"122.07867805600006,-4.13280397099993"
28,FeatureCollection,Feature,29,75,Gorontalo,3021,2859,85,Point,"123.06184,0.53707"
29,FeatureCollection,Feature,30,76,Sulawesi Barat,1036,841,14,Point,"119.34347138300006,-2.461902014999964"
30,FeatureCollection,Feature,31,81,Maluku,3863,3266,47,Point,"129.360425,-3.126119342999971"
31,FeatureCollection,Feature,32,82,Maluku Utara,2232,1946,75,Point,"128.01592944200002,0.869337001000019"
32,FeatureCollection,Feature,33,94,Papua,9037,4637,129,Point,"140.0000000000001,-5"
33,FeatureCollection,Feature,34,91,Papua Barat,4189,3655,66,Point,"132.9683417120001,-2.041723281999964"

# penamaan variabel

In [8]:
df.columns = ['type', 'f_type', 'id', 'p_code', 'p_name', 'confim_cases', 'recov_cases', 'death_case', 'FGT', 'FGC']
df

,type,f_type,id,p_code,p_name,confim_cases,recov_cases,death_case,FGT,FGC
0,FeatureCollection,Feature,1,11,Aceh,7797,6258,282,Point,"96.90952274800009,4.225081892000048"
1,FeatureCollection,Feature,2,12,Sumatera Utara,13277,10846,542,Point,"99.05788784900005,2.184779215000049"
2,FeatureCollection,Feature,3,13,Sumatera Barat,16709,13386,311,Point,"100.46680503000005,-0.85191434799998"
3,FeatureCollection,Feature,4,14,Riau,14841,11490,340,Point,"101.81289195400007,0.510525849000032"
4,FeatureCollection,Feature,5,15,Jambi,1399,892,27,Point,"103.59932,-1.61775"
5,FeatureCollection,Feature,6,16,Sumatera Selatan,8534,6954,461,Point,"104.17041944500005,-3.213346821999949"
6,FeatureCollection,Feature,7,17,Bengkulu,1294,992,59,Point,"102.26312,-3.79116"
7,FeatureCollection,Feature,8,19,Kepulauan Bangka Belitung,777,589,10,Point,"105.98694808200008,-2.252956410999957"
8,FeatureCollection,Feature,9,18,Lampung,1884,1120,78,Point,"105.01831305100006,-4.918073086999925"
9,FeatureCollection,Feature,10,21,Kepulauan Riau,4640,3074,116,Point,"108.20222888900008,3.915947241000026"
10,FeatureCollection,Feature,11,31,DKI Jakarta,115174,106100,2412,Point,"106.82649,-6.17148"
11,FeatureCollection,Feature,12,32,Jawa Barat,42572,32049,795,Point,"107.60280789800004,-6.919980215999942"
12,FeatureCollection,Feature,13,33,Jawa Tengah,39788,31937,1918,Point,"110.20111252900006,-7.258970382999962"
13,FeatureCollection,Feature,14,34,Daerah Istimewa Yogyakarta,4399,3568,108,Point,"110.44536697100006,-7.89501381499997"
14,FeatureCollection,Feature,15,35,Jawa Timur,55575,49542,3970,Point,"112.73367880100011,-7.720113018999939"
15,FeatureCollection,Feature,16,36,Banten,10554,8141,298,Point,"106.10919706900006,-6.456181598999933"
16,FeatureCollection,Feature,17,51,Bali,12519,11461,403,Point,"115.13165099500009,-8.36974326099994"
17,FeatureCollection,Feature,18,52,Nusa Tenggara Barat,4314,3540,229,Point,"117.50686245200006,-8.606652083999961"
18,FeatureCollection,Feature,19,53,Nusa Tenggara Timur,694,500,7,Point,"121.14182917000005,-8.604843331999973"
19,FeatureCollection,Feature,20,61,Kalimantan Barat,2035,1470,22,Point,"111.12076240100004,-0.085901233999948"
20,FeatureCollection,Feature,21,62,Kalimantan Tengah,4801,4085,165,Point,"113.181047852,-1.634340044999931"
21,FeatureCollection,Feature,22,63,Kalimantan Selatan,12365,11205,499,Point,"115.3113078340001,-2.44977913699995"
22,FeatureCollection,Feature,23,64,Kalimantan Timur,16384,13593,518,Point,"116.47085839300007,0.461046227000054"
23,FeatureCollection,Feature,24,65,Kalimantan Utara,928,802,11,Point,"116.21671830900004,2.888820961000022"
24,FeatureCollection,Feature,25,71,Sulawesi Utara,5452,4585,205,Point,"124.53537885000003,1.286097687000051"
25,FeatureCollection,Feature,26,72,Sulawesi Tengah,878,672,36,Point,"120.44959250000011,-1.459214953999947"
26,FeatureCollection,Feature,27,73,Sulawesi Selatan,18372,16617,468,Point,"120.16115770400006,-3.747115711999925"
27,FeatureCollection,Feature,28,74,Sulawesi Tenggara,5073,4034,83,Point,"122.07867805600006,-4.13280397099993"
28,FeatureCollection,Feature,29,75,Gorontalo,3021,2859,85,Point,"123.06184,0.53707"
29,FeatureCollection,Feature,30,76,Sulawesi Barat,1036,841,14,Point,"119.34347138300006,-2.461902014999964"
30,FeatureCollection,Feature,31,81,Maluku,3863,3266,47,Point,"129.360425,-3.126119342999971"
31,FeatureCollection,Feature,32,82,Maluku Utara,2232,1946,75,Point,"128.01592944200002,0.869337001000019"
32,FeatureCollection,Feature,33,94,Papua,9037,4637,129,Point,"140.0000000000001,-5"
33,FeatureCollection,Feature,34,91,Papua Barat,4189,3655,66,Point,"132.9683417120001,-2.041723281999964"

# cek data kosong

In [9]:
df.isna().sum()

type            0
f_type          0
id              0
p_code          0
p_name          0
confim_cases    0
recov_cases     0
death_case      0
FGT             0
FGC             0
dtype: int64

# cek tipe data

In [10]:
df.dtypes

type            object
f_type          object
id               int64
p_code           int64
p_name          object
confim_cases     int64
recov_cases      int64
death_case       int64
FGT             object
FGC             object
dtype: object

# buat variabel baru sesuai dengan kondisi

In [18]:
for index, row in df.iterrows():
    if row['confim_cases'] >= 10000:
        df.loc[index, 'Status'] = 'Tinggi'
    else:
        df.loc[index, 'Status'] = 'Rendah'
df[['confim_cases', 'Status']]

    confim_cases  Status
0           7797  Rendah
1          13277  Tinggi
2          16709  Tinggi
3          14841  Tinggi
4           1399  Rendah
5           8534  Rendah
6           1294  Rendah
7            777  Rendah
8           1884  Rendah
9           4640  Rendah
10        115174  Tinggi
11         42572  Tinggi
12         39788  Tinggi
13          4399  Rendah
14         55575  Tinggi
15         10554  Tinggi
16         12519  Tinggi
17          4314  Rendah
18           694  Rendah
19          2035  Rendah
20          4801  Rendah
21         12365  Tinggi
22         16384  Tinggi
23           928  Rendah
24          5452  Rendah
25           878  Rendah
26         18372  Tinggi
27          5073  Rendah
28          3021  Rendah
29          1036  Rendah
30          3863  Rendah
31          2232  Rendah
32          9037  Rendah
33          4189  Rendah

# dummies

In [19]:
dummies = pd.get_dummies(df.Status)
dummies

    Rendah  Tinggi
0        1       0
1        0       1
2        0       1
3        0       1
4        1       0
5        1       0
6        1       0
7        1       0
8        1       0
9        1       0
10       0       1
11       0       1
12       0       1
13       1       0
14       0       1
15       0       1
16       0       1
17       1       0
18       1       0
19       1       0
20       1       0
21       0       1
22       0       1
23       1       0
24       1       0
25       1       0
26       0       1
27       1       0
28       1       0
29       1       0
30       1       0
31       1       0
32       1       0
33       1       0

# rata-rata

In [11]:
mean_confim_cases = df.confim_cases.mean()
mean_confim_cases

13129.617647058823

In [12]:
mean_recov_cases = df.recov_cases.mean()
mean_recov_cases

11079.588235294117

In [13]:
mean_death_case = df.death_case.mean()
mean_death_case

434.97058823529414

# minimal dan maksimal

In [14]:
import statistics
from statistics import stdev

In [15]:
std_confim_cases = (statistics.stdev(df.confim_cases))
std_confim_cases

22023.139349074874

In [16]:
T_confim_cases_max = mean_confim_cases + (2*std_confim_cases)
T_confim_cases_max

57175.89634520857

In [17]:
T_confim_cases_min = mean_confim_cases - (2*std_confim_cases)
T_confim_cases_min

-30916.661051090923